// Breakpoints
$large: 1920px;
$medium: 1440px;
$tablet: 1025px;
$mobile: 600px;
$pager: 350px;

// Colors
$background: #021D25;
$white: #F8F8F8;
$black: #130F0B;
$card: #225D6F;
$main: #B64D02;
$second: #D7742C;
