@import "./abstracts/variables.scss";

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: $khaki;
  margin-top: 25px;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soon {
  padding: 20px;
  color: white;
  background-color: $brown;
  border-radius: 30px;
  width: 800px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6rem;

  margin: 0 auto;
  margin-bottom: 30vh;
  @media (max-width: $tablet) {
    width: 90%;
  }
}
