@import "../style/abstracts/variables.scss";

.nav {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 75px auto;
  z-index: 50;
  @media (max-width: $tablet) {
    display: none;
  }
  .link {
    position: relative;
    color: inherit;
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    &.active {
      border: 1px solid white;
    }
  }
}
