@import "../style/abstracts/variables.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vw;
  width: 100%;
  color: white;
  @media (max-width: $tablet) {
    padding-top: 0;
    min-height: 55vh;
    justify-content: center;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    .landscape {
      display: block;
      @media (max-width: $tablet) {
        display: none;
      }
    }
    .portrait {
      display: none;
      @media (max-width: $tablet) {
        display: block;
      }
    }
  }
  .logo {
    position: relative;
    width: 800px;
    max-width: 60%;
    @media (max-width: $tablet) {
      max-width: none;
      width: 100%;
      max-width: 550px;
      padding: 10px 20px;
    }
  }
  .title {
    position: relative;
    margin-top: 25px;
    h1 {
      font-family: "RobotoBold";
      font-size: 2rem;
      line-height: 2.25rem;
      text-transform: uppercase;
      text-align: center;
      @media (max-width: $tablet) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }
}
